body {
  text-align: center;
  background-color: midnightblue;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: square;
}
h1 {
  text-decoration: underline;
  color: aliceblue;
}
.container {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
}

.centered-text {
  margin: 0;
  text-align: center;
  color: black;
}
